<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory="phpunit.cache"
    beStrictAboutOutputDuringTests="true"
    colors="true"
>

    <testsuites>
        <testsuite name="Unit">
            <directory>tests/UnitTests</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory>tests/IntegrationTests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>

        <exclude>
            <file>src/Framework/Assert/Functions.php</file>
        </exclude>
    </source>

    <coverage>
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/coverage"/>
            <text outputFile="build/coverage.txt"/>
        </report>
    </coverage>

    <php>
        <ini name="precision" value="14"/>
        <ini name="serialize_precision" value="14"/>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>
